<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Woodcarving Illustrated Magazine Subscription Renewal Notice">
    <title>New Renewal Template - Woodcarving Illustrated</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
    <body>
        <blockquote>&nbsp;</blockquote>
        <table class="email-container" style="font-family: Gotham,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; line-height: 20px; max-width: 580px; width: 100%;" align="center" border="0" cellspacing="0">
            <tbody>
                <tr>
                    <td class="responsive-td" style="padding-left: 10px;
                    " width="350">
                        <img src="http://fcpweb.com/marketing/wci.gif" alt="Woodcarving Illustrated magazine logo featuring decorative woodcarving motifs and stylized text" height="79" width="350">
                        <br>
                        <span style="font-size: 10px; line-height: normal;">
                            1-800-457-9112<br>903 Square St.  Mount Joy, PA  17552
                        </span>
                    </td>
                    <td style="padding-bottom: 10px;" align="center" width="250">
                        <img class="responsive-image" style="width: 131px; height: auto;
                        " alt="Woodcarving Illustrated" src="/WCI111.jpg">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 10px;" align="center" bgcolor="#ce171f">
                        <span style="font-size: 20px; color: rgb(255, 255, 255);">
                            <b>Subscription Renewal Notice</b>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 20px 10px 10px; font-family: Gotham,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; line-height: 20px;" align="center">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td style="padding-right: 15px;" valign="top" width="60%">
                                        Dear [[FNAME]],<br>
                                        <br>
                                        As a preferred subscriber, you're invited to extend your subscription to 
                                        <em>
                                            <strong>Woodcarving Illustrated</strong>
                                        </em>
                                        at a guaranteed low rate.  PLUS, renew for two years, and receive a 9th bonus issue plus the
                                        <em>
                                            <strong>Sharpening Carving Tools for Beginners booklet</strong>
                                        </em>
                                        &nbsp;(an $18 value!) -<strong>ABSOLUTELY FREE!</strong>
                                        <br>
                                        <br>Your subscription expires with the [[EXPDATE]] issue. To keep each project-packed issue arriving at your doorstep, simply click the link below and renew today! If you prefer, you can call us at 800-457-9112 and our staff will be happy to help you. (International customers call 717-560-4703.)
                                    </td>
                                    <td style="border-left: 2px solid rgb(15, 85, 150); font-size: 12px; line-height: normal; padding:0px 50px;" align="center" valign="middle" width="40%">
                                        <img style="width: 131px; height: 170px;" src="https://scrollsawer.com/wp-content/uploads/2023/01/Sharpening.jpg" alt="Sharpening Carving Tools for Beginners">
                                        <strong>
                                            <br>
                                            <br>Sharpening Carving Tools For Beginners
                                        </strong>
                                        <br>
Keep all your woodcarving tools and knives sharp and in tip top shape! This compact guide by renowned artist Lora Irish offers clear step-by-step guidance to walk beginners through the basics of sharpening knives, gouges, V-tools, and chisels. Also included are informative sections on safety, basic sharpening techniques, what to keep in your sharpening kit, tool storage and cleanup tips, and more!<br>
                                        <br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <br>
                        <!------button-->
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="button-td" style="border-radius: 5px; color: rgb(255, 255, 255); display: block; width: 300px;" align="center" bgcolor="#0000cc" height="40">
                                        <a href="https://service.qfie.com/WCIM/clsWCIMRenewal1.asp?strOrdnum=[[ORDERNUM]]&strRenEffort=[[RENEFF]]&Trackcode=j12EMR&strAspReason=103" style="color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; font-family: Helvetica,Arial,sans-serif; text-decoration: none; line-height: 40px; width: 100%;">Yes, Renew My Subscription</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--end button-->
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 20px 10px 10px; font-family: Gotham,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; line-height: 20px;">Don't miss a single issue of the #1 magazine for carvers. Remember to choose a two-year subscription to claim your FREE gift!</td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-left: 10px;">
                        [[var 
                        types =TYPE1+CR+TYPE2+CR+TYPE3+CR+TYPE4+CR+TYPE5+CR+TYPE6+CR+TYPE7+CR+TYPE8+CR+TYPE9+CR+TYPE10+CR+TYPE11+CR+TYPE12+CR+TYPE13+CR+TYPE14+CR+TYPE15+CR+TYPE16+CR+TYPE17+CR+TYPE18+CR+TYPE19]]
                        [[var 
                        descriptions =DESCR1+CR+DESCR2+CR+DESCR3+CR+DESCR4+CR+DESCR5+CR+DESCR6+CR+DESCR7+CR+DESCR8+CR+DESCR9+CR+DESCR10+CR+DESCR11+CR+DESCR12+CR+DESCR13+CR+DESCR14+CR+DESCR15+CR+DESCR16+CR+DESCR17+CR+DESCR18+CR+DESCR19]]
                        [[var 
                        amounts =AMOUNT1+CR+AMOUNT2+CR+AMOUNT3+CR+AMOUNT4+CR+AMOUNT5+CR+AMOUNT6+CR+AMOUNT7+CR+AMOUNT8+CR+AMOUNT9+CR+AMOUNT10+CR+AMOUNT11+CR+AMOUNT12+CR+AMOUNT13+CR+AMOUNT14+CR+AMOUNT15+CR+AMOUNT16+CR+AMOUNT17+CR+AMOUNT18+CR+AMOUNT19]]
                        [[let types = str_trim(types); 
                        let descriptions =str_trim(descriptions); 
                        let amounts = str_trim(amounts)]] 
                        [[while str_length(types) != 0]]
                        [[var type = str_remove_line(types)]]
                        [[endw]]
                             <table style="font-family: Gotham,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 13px; font-weight: bold;" align="center" border="0" cellspacing="0" height="107" width="300">
                            <tbody>
                                <tr>
                                    <td height="19" width="65%"><br>
</td>
                                    <td height="19" width="35%"><br>
</td>
                                </tr>
                        <tr>
                                    <td style="padding-left: 35px;" height="20" width="65%">[[str_remove_line(descriptions)]]</td>
                                    <td height="20" width="35%">[[str_remove_line(amounts)]]</td>
                                </tr>
                        </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-left: 10px; padding-top: 20px;">
                        <span style="font-family: Gotham,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; line-height: 20px;">
                            All subscribers are protected by our <strong>100% Money-Back Guarantee!</strong>
                            If you are ever dissatisfied, cancel any time and receive a full refund for all unmailed issues...<br>No questions asked.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-left: 10px; padding-top: 20px; padding-bottom: 40px;">
                        <table class="address-table" style="font-family: Gotham,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; line-height: 20px; width: 90%; max-width: 100%;" align="center" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr bgcolor="#ce171f">
                                    <td height="20">
                                        <span style="color: rgb(255, 255, 255); padding-left: 10px;">
                                            <strong>Your Address</strong>
                                        </span>
                                    </td>
                                    <td height="20">
                                        <span style="color: rgb(255, 255, 255); padding-left: 10px;">
                                            <strong>Customer Number</strong>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 10px;" height="20">[[ADDRESS1]]</td>
                                    <td style="padding-left: 10px;" height="20">[[ADDRESSEE]]</td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 10px;" height="20">[[ADDRESS2]]</td>
                                    <td style="padding-left: 10px;" height="20">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 10px;" height="20">[[ADDRESS3]]</td>
                                    <td style="padding-left: 10px;" height="20">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 10px;" height="20">[[ADDRESS4]]</td>
                                    <td style="padding-left: 10px;" height="20">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 10px;" height="20">[[ADDRESS5]]</td>
                                    <td style="padding-left: 10px;" height="20">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 10px;" height="20">[[ADDRESS6]]</td>
                                    <td style="padding-left: 10px;" height="20">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="border-top: medium solid rgb(206, 23, 31); padding: 10px; font-size: 8pt;" align="center">
                        Woodcarving Illustrated * 903 Square St.  Mount Joy, PA  17552
        <br>
                        1-800-457-9112 * Fax: 717-560-4702 * <a href="http://www.woodcarvingillustrated.com/" style="text-decoration: none;">WoodcarvingIllustrated.com</a>
                        <br>
                        A Division of Fox Chapel Publishing<br>If you no longer wish to receive email renewal notices, simply hit reply <br>
with the word 'remove' in the subject line or click this link to <a href="mailto:unsubscribe@foxchapelpublishing.com?subject=remove%20[[EMAIL]]">unsubscribe</a>.
                    </td>
                </tr>
            </tbody>
        </table>
    </body></html>